<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${lang}"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<header>
	<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">


	<title>Demo Online-Shop</title>

	<link th:href="@{/bootstrap4/css/bootstrap.min.css}" rel="stylesheet">
	<link th:href="@{/bootstrap4/css/bootstrap-grid.min.css}" rel="stylesheet">
	<link th:href="@{/bootstrap4/css/bootstrap-theme.min.css}" rel="stylesheet">
	<link th:href="@{/bootstrap4/css/bootstrap-reboot.css}" rel="stylesheet">
	<link th:href="@{/fontawesome/css/all.css}" rel="stylesheet">
	<link th:href="@{/defaultTheme/defaultstyhletheme.css}" rel="stylesheet">
	<script th:src="@{/jquery.min.js}"></script>
	<script th:src="@{/bootstrap4/js/bootstrap.js}"></script>
	<script th:src="@{/bootstrap4/js/bootstrap.bundle.min.js}"></script>

</header>
<body>


<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<a class="navbar-brand">Your Webshop Name</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarSupportedContent">

		<ul class="navbar-nav mr-auto">
			<li class="nav-item"><a class="nav-link"
									th:href="@{/}"><i class="fa fa-home mr-2"></i>Home</a></li>
			<li sec:authorize="hasRole('ROLE_ADMIN')" class="nav-item"><a class="nav-link" th:href="@{/admin}">Admin</a></li>
			<li sec:authorize="hasRole('ROLE_MANAGER')" class="nav-item"><a class="nav-link" th:href="@{/manager}">Management</a></li>
		</ul>


		<ul class="navbar-nav mr-auto text-left">

			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					Deutsch
				</a>
				<div class="dropdown-menu" aria-labelledby="navbarDropdown">
					<a class="dropdown-item" href="/en/">Englisch</a>
					<a class="dropdown-item" href="/es/">Spanisch</a>
					<a class="dropdown-item" href="/fr/">Französisch</a>
					<a class="dropdown-item" href="/it/">Italienisch</a>
					<a class="dropdown-item" href="/tr/">Türkisch</a>

				</div>
			</li>

		</ul>


		<ul class="nav my-auto mr-4">
			<li class="nav-item"><a class="text" th:href="@{/profile/cart-product}"><i class="fas fa-shopping-cart"></i></a></li>
		</ul>

		<form class="form-inline my-2 my-lg-0" form-method="post"
			  th:action="@{/logout}">
			<button sec:authorize="isAuthenticated()"
					class="btn my-2 my-sm-0 btn-sm" type="submit">Logout</button>
			<button sec:authorize="isAnonymous()" th:href="@{~/login}"
					class="btn my-2 my-sm-0 btn-sm" type="submit">Login</button>

		</form>

	</div>
</nav>
<div class="container-fluid">


	<div class="row">

		<div class="col-sm-12">
			<form action="#" th:action="@{/searchProduct}" method="post">
				<div class="input-group mb-3">
					<input name="searchProduct" type="text" class="form-control" placeholder="search your item" aria-describedby="basic-addon2">
					<div class="input-group-append">
						<button type="submit" class="btn btn-primary">Search</button>
					</div>
				</div>
			</form>
		</div>


		<div class="d-flex justify-content-start p-2">
			<a class="list-group-item mr-2" th:href="@{'/'}">All Product</a>
			<a class="list-group-item mr-2"	th:each="category : ${categoryList}"
			   th:text="${category.categoryName}" th:href="@{'/getProducts/' + ${category.categoryId}}"></a>
		</div>

		<div class="col-sm-12">

				<div class="row">
					<ul class="list-group">
						<li class="list-group-item">
							<div th:each="product : ${productList}">
						<div class="card">
							<div>
								<div class="card-header">
									<h5 th:text="${product.productName}" class="card-title"></h5>
								</div>

								<div class="row">
									<div class="col-sm-3">

										<img id="imagecardproduct" th:src="@{${product.image}}" class="card-img-top" alt="Product Image" width="400" height="250">
									</div>
									<div class="col-sm-9">
										<div class="card-body">

											<p th:text="${product.productDescription}"></p>

										</div>
										<div class="card-footer">
											<p th:text="'$ '+${product.productPrice}"></p>
											<a th:href="@{'~/profile/addToCart/' + ${product.productId}}" class="btn btn-primary">AddToCart</a>
										</div>
									</div>
								</div>


							</div>
						</div>
					</div>
						</li>
					</ul>
				</div>

		</div>

		<nav aria-label="Page navigation example">
			<ul class="pagination pg-blue justify-content-center" th:each="pSize: ${pageSize}">

				<li class="page-item">
					<a class="page-link" th:href="'/previous?page=' + ${pSize}">Previous</a>
				</li>

				<li class="page-item">
					<a class="page-link" th:href="'/pagination?page=' + ${pSize}" th:utext="${pSize}"></a>
				</li>

				<li class="page-item">
					<a class="page-link" th:href="'/nextpage?page=' + ${pSize}">Next</a>
				</li>

				<div class="row">
					<a th:text="${page}">Page / </a>
					<br>
					<a th:text="${pageSize}"></a>
				</div>


			</ul>
		</nav>


		<!---
        works on firefox

    <script type="text/javascript">

        var language = window.navigator.language;

        switch (language) {
            case 'en':
                window.location.href = '/en/';
                break;

            case 'it':
                window.location.href = '/it/';
                break;

            case 'fr':
                window.location.href = '/fr/';
                break;

            case 'tr':
                window.location.href = '/tr/';
                break;

            case 'es':
                window.location.href = '/es/';
                break;

            case 'de':

                break;

            case 'de_DE':

                break;

            default:
                window.location.href = '/index.html';
        }

    </script>

    -->



	</div>

	<div class="row">

		<style>
			.row
			{
				border-top: 2px;
				padding-top: 2px;
				margin-top: 0px;
			}
		</style>
	</div>




	<div class="footer">
		<footer th:include="footer.html :: footer"></footer>
	</div>


</body>




</html>