html
{
    font-size: medium;
    margin-left: 25px;
    border-left: 25px;
}

input.form-control {
    height: 120px;
}

button.btn.btn-primary {
    height: 120px;
}

.max-lines {
    display: block;
    text-overflow: ellipsis;
    word-wrap: break-word;
    overflow: hidden;
    max-height: 650px;
    line-height: 48px;
}

